.gallery-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background: #f7f7f7;
  border-radius: 25px;
  justify-content: space-around;
}

@media screen and (max-width: 576px) {
  .gallery-card {
    background-color: #fff;
    display: block;
  }
}
