.card {
  position: relative;
  width: 30%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 10px;
  margin: 20px;
}

.card-title {
  position: absolute;
  top: 80%;
  left: 10%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
  color: #ffffff;
}

.card-image {
  background: #ff6060;
  border-radius: 10px;
  width: 100%;
}
