.card {
  position: relative;
  width: 30%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
  border-radius: 10px;
  margin: 20px 0;
  height: 247.33px;
}

.card-title {
  position: absolute;
  bottom: 20px;
  left: 4%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 142.6%;
  color: #ffffff;
}

.card-image {
  background: #ff6060;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Large */

@media screen and (max-width: 1233px) {
  .card {
    width: 45%;
  }

  .card-title {
    font-size: 22px;
  }

  .card-image {
    width: 100%;
  }
}

/* Medium */

@media screen and (min-width: 577px) and (max-width: 768px) {
  .card-title {
    font-size: 19px;
  }

  .card-image {
    width: 100%;
  }
}

/* Small */

@media screen and (max-width: 576px) {
  .card {
    width: unset;
  }

  .card-image {
    width: 100%;
    height: 100%;
  }
}
