@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header-home {
  display: flex;
  justify-content: space-between;
}

.nav-home {
  width: 240px;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  display: flex;
  align-items: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: #ff6060;
}

.active {
  text-decoration: underline;
}
.inactive {
  text-decoration: unset;
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .nav-home {
    width: 200px;
  }

  .nav-link {
    font-size: 22px;
  }
}

@media screen and (max-width: 576px) {
  .nav-home {
    width: 180px;
  }

  .nav-link {
    font-size: 20px;
  }

  .header-logo {
    width: 35%;
  }
}
