.slide-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
}

.slideshow {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 415px;
}

.right-button,
.left-button {
  width: 50px;
  position: absolute;
  z-index: 1;
  bottom: 45%;
}

.right-button {
  transform: rotate(90deg);
  right: 0px;
}

.left-button {
  transform: rotate(270deg);
}

.slide-number {
  position: absolute;
  bottom: 5%;
  right: 50%;

  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 142.6%;
  color: #fff;
}

@media screen and (max-width: 560px) {
  .slideshow {
    height: 255px;
  }

  .right-button,
  .left-button {
    width: 35px;
  }
}
