@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

footer {
  margin-top: 30px;
  height: 209px;
  background: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-right {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;
  color: #fff;
}

.footer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
