.banner {
  background: #f7f7f7;
  border-radius: 25px;
  margin-bottom: 30px;
}

.span-aboutus {
  display: none;
}

.banner-img-home {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3) url('../../Image/banner-img-home.png');
  padding: 5% 0;
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  object-fit: contain;
  margin-top: 30px;
}

.banner-img-aboutus {
  border-radius: 25px;
  background: rgba(0, 0, 0, 0.3) url('../../Image/banner-img-aboutus.png');
  padding: 5% 0;
  background-blend-mode: darken;
  object-fit: contain;
  margin-top: 30px;
  height: 95px;
}

.banner-span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 142.6%;
  color: #ffffff;
}

/* Medium */
@media screen and (max-width: 768px) {
  .banner-span {
    font-size: 36px;
  }
}

/* Small */

@media screen and (max-width: 576px) {
  .banner-span {
    font-size: 24px;
    margin-left: 20px;
    line-height: 100%;
  }
}
